.env
db.sqlite3
staticfiles/

# runtime.txt not included as python 3.7.1 not supported by heroku
runtime.txt

.scannerwork/
.vscode/
**/__pycache__/


# other files
dump.json
accounts/test_logoutFormTest.py