[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
gunicorn = "~=19.9.0"
psycopg2-binary = "==2.8.3"
django-heroku = "*"
django-crispy-forms = "~=1.9.2"
whitenoise = "~=5.1.0"
environs = {version = "==8.0.0", extras = ["django"]}
selenium = "*"

[dev-packages]
selenium = "*"

[requires]
python_version = "3.7"
