[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2"
gunicorn = "~=19.9.0"
psycopg2-binary = "==2.8.3"
django-heroku = "*"
django-crispy-forms = "~=1.9.2"
whitenoise = "~=5.1.0"
environs = {version = "==8.0.0", extras = ["django"]}
selenium = "*"
django-jenkins = "*"
coverage = "==4.3"
pep8 = "*"
pyflakes = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
