{% extends '_base.html' %}
{% load static %} 

{% block title %}Event - {{ event.event_name }}{% endblock title %} 

{% block head %} 
{% comment %}<link rel="stylesheet" href="css/home.css"> {% endcomment %}
{% endblock head %} 


{% block content %}
<br><br><br>
user {{ user.user_type }} {{ user.pk }}
<br>{{ event.event_name }}
<br>{{ event.start_date }}
<br>{{ event.end_date }}
<br>{{ event.max_seats }}
<br>{{ event.status }}
<br>{{ event.type }}

<form action="{% url 'lecture_app:event_registration' user_pk=user.pk pk=event.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Register</button>
</form>

{% if already_applied %}
Registered!!
{% else %}
Not registered
{% endif %}




{% endblock content %}
