{% extends '_base.html' %}
{% load static %} 

{% block title %}Event - {{ event.event_name }}{% endblock title %} 

{% block head %} 
{% comment %}<link rel="stylesheet" href="css/home.css"> {% endcomment %}
{% endblock head %} 


{% block content %}

  {% comment %} 



  <br>{{ event.start_date }}
  <br>{{ event.end_date }}
  <br>{{ event.guest_fk.get_name }}
  <br>{{ event.guest_fk.details }}

  <br>{{ event.max_seats }}
  <br>{{ event.status }}
  <br>{{ event.type }}





  </div> {% endcomment %} 




<div class="container">
<div class="display-3 text-align">{{ event.event_name }}</div><br>


<!-- Classic tabs -->
<div class="background-white">
<div class="classic-tabs border rounded px-4 pt-1">

  <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
    </li>
    {% if event.is_past_event %}
          <li class="nav-item">
      <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews (1)</a>
    </li>
    {% endif %}

  </ul>
  <div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
      <h5>GUEST: {{ event.guest_fk.get_name }}</h5>
      <p class="small text-muted text-uppercase mb-2">{{ event.guest_fk.details }}</p>
      <h6>{{ event.type }}</h6>

        {% if event.max_seats %}
          <h6>{{ event.max_seats }}</h6> 
        {% endif %}
      <p class="pt-1"> {{ event.description }}  </p>
    </div>
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
      <h5>Additional Information</h5>
      <table class="table table-striped table-bordered mt-3">
        <thead>
          <tr>
            <th scope="row" class="w-150 dark-grey-text h6">Start</th>
            <td><em>{{ event.start_date }}</em></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="w-150 dark-grey-text h6">End</th>
            <td><em>{{ event.start_date }}</em></td>
          </tr>
          <tr>
            <th scope="row" class="w-150 dark-grey-text h6">Locations</th>
            <td><em>{{ event.place }}</em></td>
          </tr>
          <tr>
            <th scope="row" class="w-150 dark-grey-text h6">Remaining Seats</th>
            <td><em>{{ event.remaining_seats }}</em></td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if event.is_past_event %}
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
      <div class="media mt-3 mb-4">
        <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
        <div class="media-body">
          <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
              <strong>Marthasteward </strong>
              <span>– </span><span>January 28, 2020</span>
            </p>
            <ul class="rating mb-sm-0">
                <i class="fas fa-star fa-sm text-primary"></i>
                <i class="fas fa-star fa-sm text-primary"></i>
                <i class="fas fa-star fa-sm text-primary"></i>
                <i class="fas fa-star fa-sm text-primary"></i>
                <i class="far fa-star fa-sm text-primary"></i>
            </ul>
          </div>
          <p class="mb-0">Nice one, love it!</p>
        </div>
      </div>
      <hr>
      <h5 class="mt-4">Add a review</h5>
      <p>Your email address will not be published.</p>
      <div class="my-3">
        <ul class="rating mb-0">
            <a href="#!">
              <i class="fas fa-star fa-sm text-primary"></i>
            </a>
            <a href="#!">
              <i class="fas fa-star fa-sm text-primary"></i>
            </a>
            <a href="#!">
              <i class="fas fa-star fa-sm text-primary"></i>
            </a>
            <a href="#!">
              <i class="fas fa-star fa-sm text-primary"></i>
            </a>
            <a href="#!">
              <i class="far fa-star fa-sm text-primary"></i>
            </a>
        </ul>
      </div>
      <div>
        <!-- Your review -->
        <div class="md-form md-outline">
          <label for="form76">Your review</label>
          <textarea id="form76" class="md-textarea form-control pr-6" rows="4"></textarea>
        </div>
        {% comment %}
        <!-- Name -->
        <div class="md-form md-outline">
          <input type="text" id="form75" class="form-control pr-6">
          <label for="form75">Name</label>
        </div>
        <!-- Email -->
        <div class="md-form md-outline">
          <input type="email" id="form77" class="form-control pr-6">
          <label for="form77">Email</label> 
        </div>
        {% endcomment %}
        <div class="text-right pb-2">
          <button type="button" class="btn btn-primary">Add </button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

</div>
<!-- Classic tabs -->
</div>

  {% if already_applied %}
  <button type="submit" class="btn btn-outline-success disabled text-align" aria-disabled="true">Registered Sucessfully</button>
  {% else %}

  <form action="{% url 'lecture_app:event_registration' user_pk=user.pk pk=event.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-dark text-align">Register</button>
  </form>
  {% endif %}   

</div> 



{% endblock content %}
