{% extends '_base.html' %}
{% load static %} 

{% block title %}Home{% endblock title %} 

{% block head %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %} 

{% block content %}


<!-- Background image -->
<div class="p-5 text-center bg-image my-bg-img" >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to the Event System, {{ user.username }}!</h1>
                {% comment %}
                <h4 class="mb-3">Subheading</h4> {% endcomment %} {% comment %} <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> 
                {% endcomment %} 
                {% comment %} {% if user.user_type == "STUD" %} {% endcomment %}
                <div class="container justify-content-center w-25">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-success ">
                                <p class="">
                                    Applied Events
                                    <a href="{% url 'lecture_app:applied_events' user.id %}" class="stretched-link float-right"><span class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-info ">
                                <p class="">
                                    Upcoming Events
                                    <a href="{% url 'lecture_app:upcoming_events' user.id %}" class="stretched-link float-right"><span class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-warning ">
                                <p class="">
                                    Past Events
                                    <a href="{% url 'lecture_app:past_events' user.id %}" class="stretched-link float-right"><span
                                            class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% comment %} {% else %}
                <div class="container justify-content-center w-25">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-success ">
                                <p class="">

                                    Create an Event
                                    <a href="/applied_events/{{ user.id }}" class="stretched-link float-right"><span
                                            class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-info ">
                                <p class="">

                                    Created Events
                                    <a href="/upcoming_events/{{ user.id }}" class="stretched-link float-right"><span
                                            class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-warning ">
                                <p class="">

                                    Past Events
                                    <a href="{% url 'lecture_app:past_events' user.id %}" class="stretched-link float-right"><span
                                            class="fas fa-angle-double-right"></span></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                {% endif %} {% endcomment %}

            </div>
        </div>
    </div>
</div>
<!-- Background image -->


{% endblock content %}