{% extends '_base.html' %} {% load static %} {% block title %}Home{% endblock title %} {% block head %} {% comment %}
<link rel="stylesheet" href="css/home.css"> {% endcomment %} {% endblock head %} {% block content %}


<!-- Background image -->
<div class="p-5 text-center bg-image" style="
    background-image: url({% static 'img/virtual-events.jpg' %});
    height=800px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to the Event System, {{ user.username }}!</h1>
                {% comment %}
                <h4 class="mb-3">Subheading</h4> {% endcomment %} {% comment %} <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> {% endcomment %} {% if user.user_type == "STUD" %}
                <div class="container justify-content-center w-25">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-success ">
                                <p class="">
                                    Applied Events
                                    <a href="{% url 'lecture_app:appliedEvents' user.id %}" class="stretched-link float-right"><i class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-info ">
                                <p class="">
                                    Upcoming Events
                                    <a href="{% url 'lecture_app:upcomingEvents' user.id %}" class="stretched-link float-right"><i class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-warning ">
                                <p class="">
                                    Past Events
                                    <a href="{% url 'lecture_app:pastEvents' user.id %}" class="stretched-link float-right"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="container justify-content-center w-25">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-success ">
                                <p class="">

                                    Create an Event
                                    <a href="/appliedEvents/{{ user.id }}" class="stretched-link float-right"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-info ">
                                <p class="">

                                    Created Events
                                    <a href="/upcomingEvents/{{ user.id }}" class="stretched-link float-right"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                            <li class="list-group-item bg-warning ">
                                <p class="">

                                    Ongoing Events
                                    <a href="#" class="stretched-link float-right"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- Background image -->


{% endblock content %}