<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <style>
        {% include '_mail_template_style.html' %}
      </style>
  </head>

  <body style="text-align: justify;">
    <h2>Hello <strong>{{user}}</strong>!</h2>
    You have applied to
    <em>{{event}}</em> successfuly!<br>

    <h3>Event Information</h3>

    <table class="styled-table">
      <tbody>
        <tr>
          <th>Start  </th>
          <td>{{event.start_date}}</td>
        </tr>
        <tr>
          <th>End  </th>
          <td>{{event.end_date}}</td>
        </tr>
        <tr>
          <th>Location  </th>
          <td>{{event.place}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
